/* CSS Stylings for Nav Bar */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
  padding: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: gainsboro;
  background-image: url("https://www.transparenttextures.com/patterns/debut-light.png");
  height: 50px;
}

.nav-title {
  font-family: 'Source Sans Pro', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-icon {
  color: crimson;
}