/* CSS Stylings for Nav Bar */

/* Container for navigation bar items and site name */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
  padding: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: gainsboro;
  background-image: url("https://www.transparenttextures.com/patterns/debut-light.png");
  height: 50px;
}
/* 'Write a new tweet!' text that appears in navigation bar */
.nav-title {
  font-family: 'Source Sans Pro', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Arrow icon underneath nav-title ('Write a new tweet!') */
.arrow-icon {
  color: crimson;
}