/* CSS Stylings for New Tweets */

.new-tweet {
  padding-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

textarea {
  width: 100%;
  padding: 10px;
  padding-top: 20px;
  background-color: #f4f1ec;
  border: none;
  border-bottom: solid;
  border-width: medium;
  outline: none;
  resize: none;
  display: flex;
  align-items: flex-start;
  width: 100%;
}

button {
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
}

output {
  font-family: 'Bungee', cursive;
  margin-top: 7px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.max-reached {
  color:crimson;
}

.max-button {
  background-color: crimson;
}

.button-error{
  display: flex;
  align-items: center;
}

error {
  color: crimson;
  margin-top: 5px;
  margin-left: 15px;
  font-size: 70%;
  font-weight: bold;
  display: none; 
}