/* CSS Stylings for tweet contents */

/* Tweet container, empty space that contains styled tweet */
.tweets-container {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* Box shadow appears when tweet is hovered over */
.tweet:hover {
  box-shadow: 5px 5px lightgray;
}
/* Tweet border with contents, inside tweet container */
.tweet {
  border-style: solid;
  border-width: medium;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* Tweet container header that contains user information including username and handle */
article.tweets-container header {
  margin: 5px;
  margin-top: 0px;
  background-color: #f4f1ec;
  background-image: none;
  width: auto;
  height: auto;
  padding: 10px;
  padding-bottom: 0px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* Handle, a short id starting with @ */
.handle {
  color: lightgray;
  font-weight: bold;
}
/* Message, the actual text of the tweet */
.message {
  text-align: left;
  height: auto;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
  overflow-wrap: break-word;
}
/* Tweet container footer, contains timeago data and icons */
article.tweets-container footer {
  padding: 20px;
  border-top: solid;
  border-width: medium;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 80%;
}
/* Icons */
article i {
  margin-left: 5px;
  margin-right: 5px;
}
/* Icons change colour when hovered over */
article i:hover {
  color: #4056A1;
}
/* Picture and name container to group avatar and name together */
.pic-and-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* Avatar container for avatar image */
.avatar {
  margin-right: 20px;
} 